@font-face {
    font-family: 'SF-Display';
    src: url(./SF-UI-Display-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: 'SF-Display';
    src: url(./SF-UI-Display-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: 'SF-Display';
    src: url(./SF-UI-Display-Semibold.otf);
    font-weight: 600;
}

@font-face {
    font-family: 'SF-Display';
    src: url(./SF-UI-Display-Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: 'SF-Display';
    src: url(./SF-UI-Display-Black.otf);
    font-weight: 800;
}


body {
    background-color: rgb(232, 230, 230);

}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'SF-Display';
    font-weight: normal;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

nav {
    width: 100%;
    display: flex;
    padding: 32px 20px;
    position: absolute;
    z-index: 3;
}

.nav-head {
    display: flex;
}


nav img {
    width: 134px;
    height: 16px;
}

nav span {
    color: white;
    height: 20px;
    width: 2px;
}


nav i {
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.hero {
    width: 100%;
    height: 70vh;
    background: url(https://unread.today/files/969a1aed-77a4-45e9-b7b7-3ee2709aaf31/d8ba5b16449f2b86a48e0cd0901602cb.png);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    z-index: 2;
    flex-direction: column;
}

.hero--singer-photo {
    display: none;

}

.hero--overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1));
    z-index: -1;
    top: 0;
    left: 0;
}

.hero--information {
    padding: 0, 20px;
    letter-spacing: 2px;
    margin-bottom: 48px;

}

.hero--content {
    padding: 0px 20px;
    margin-bottom: 50px;
}

.hero--information h5 {
    font-size: 12px;
    color: #0078f0;
    margin-bottom: 15px;
    margin-right: 11px;
    animation: galt 2s infinite
}

@keyframes galt {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.hero--content h2 {
    font-size: 23px;

}

/* .hero--content bolgoj ner solison */

.hero--content h1 {
    font-size: 28px;
    font-weight: 800;
}


.hero--author {
    display: flex;
    margin-top: 16px;
    align-items: center;
}

.hero--author-and-text {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12.6px;
}

.hero--author img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding: 4px;
    border: 1px solid rgb(225, 225, 255, 0.5);
}

.hero--author-and-text h4 {
    color: rgb(255, 225, 225, 0.5);
}

.hero--author-and-text p {
    color: white;
}


@media screen and (min-width: 786px) {

    .hero--singer-photo {
        display: block;
        max-width: 446px;
        max-height: 446px;
    }

    .hero--singer-photo img {
        width: 100%;
        border-radius: 16px;
        min-height: 446px;
        object-fit: cover;
        border-radius: 10%;
    }

    .hero {
        align-items: center;
    }

    .hero--container {
        max-width: 1186px;
        display: flex;
        margin: auto;
        gap: 60px;
        align-items: center;
    }

    .hero--cover img {
        padding: 16px;
        width: 100%;
        min-height: 410px;
        object-fit: cover;
    }

    .hero--content h1,
    .hero--content h2 {
        font-size: 36px;
    }

}


.container {
    max-width: 1186px;
    display: flex;
    overflow: scroll;
    padding: 20px;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
}

.card--overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1));
    top: 0;
    left: 0;
    border-radius: 20px;
}

.card {
    position: relative;
    min-width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 20px;
}

#card-image-1 {
    background-image: url(https://unread.today/files/969a1aed-77a4-45e9-b7b7-3ee2709aaf31/f02147fa1d3c86642576408edec21a3f.jpg);

}

#card-image-2 {
    background-image: url(https://unread.today/files/969a1aed-77a4-45e9-b7b7-3ee2709aaf31/4f6f6a723b581e636c03db35ea9d6141.jpeg);

}

#card-image-3 {
    background-image: url(https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/1abcefda5c2b24eb8fc96efd54d5e5cc.jpg);
}

#card-image-4 {
    background-image: url(https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/a5d88da5e40fbd813500ce2b4f8cc986.png);
}

#card-image-5 {
    background-image: url(https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/3417b9439881bfca93501f04f5d87faa.jpg);
}

#card-image-6 {
    background-image: url(https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/7b4b22cb024f41fc3d34c9da36edaa4c.jpg);
}

#card-image-7 {
    background-image: url(https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/82f56a76bb57f50a1adcd601c560c0ff.jpg);
}

.card-head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: x-small;
    padding: 10px 20px;
    z-index: 1;
}

.card-footer {
    padding: 10px 20px;
    z-index: 1;
}

.box:hover {
    transform: scale(1.15);
    background-color: turquoise;
}

.head p {
    color: #0078f0;
    font-size: bold;
}

.head h3 {
    color: white;
}

.head h5 {
    color: white;
    font-size: 12px;
}

.icons {
    color: white;
    gap: 20px;
    margin-bottom: 20px;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */



.article-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    padding: 0 35px;
    max-width: 1116px;
}

.article-1 {
    width: 650px;
    height: auto;
    cursor: pointer;
    transition: 0.3s;
}

.article-1:hover {
    transform: translateY(-5px);
}

.article-1-authorimage {
    display: flex;
    padding: 20px 30px;
}

.article-1-author {
    width: 36px;
}

.article-1-author img {
    width: 36px;
    border-radius: 50%;
    margin: 10px, 10px;
}

.comment-box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0px;
    justify-content: space-between;
    padding: 20px 30px 20px 40px;
    background-color: white;
}

.comment-box-main a {
    color: blue;
    font-size: bold;
}

.heiniken img {
    height: 135px;
    width: 135px;
    border-radius: 50%;
}

.article-1:nth-child(even) {
    align-self: end;
}

.article-1:nth-child(odd) .comment-box-main {
    border-radius: 30px;
    border-top-left-radius: 0px;
}

.article-1:nth-child(even) .comment-box-main {
    border-radius: 30px;
    border-top-right-radius: 0px;
}


.article-1:nth-child(even) .article-1-authorimage {
    /* justify-content: flex-end; */
    flex-direction: row-reverse;
    text-align: end;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.prev-week {
    align-items: center;
    justify-items: center;
}

.prev-week-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.prev-weeks-box {
    display: flex;
    flex-direction: column;
    gap: 10px 10px;
    width: 420px;
    height: px;
    /* backdrop-filter: blur (6px); */
}

.prev-weeks-box2 {
    display: flex;
    flex-direction: column;
    gap: 10px 10px;
    width: auto;
    height: auto;
    margin-top: 40px;
    position: relative;
    backdrop-filter: blur (6px);
}

.big-box {
    height: 270px;
    width: 420px;
    background-image: url(https://unread.today/files/44/e4207680c14a2d169599922ca8e1948e.png);
    background-size: cover;
    margin-top: 40px;
    border-radius: 25px;
    color: white;
}

.big-box:hover {
    transform: translateY(-5px);
}

.small-box {
    height: 176px;
    width: 420px;
    display: flex;
    flex-direction: row;
    background-position: center;
    gap: 10px;
    justify-content: space-around;
}

.small-box:hover {
    transform: translateY(-5px);
}

.gerege {
    height: 176px;
    width: 210px;
    background-image: url(https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/8903e685fb4b8dac55e79e3126fd1d2c.jpg);
    background-position: center;
    background-size: cover;
    gap: 10px 10px;
    border-radius: 25px;
    color: white;
    align-content: center;
    padding: 10px 10px;
}

.gerege:hover {
    transform: translateY(-5px);
}

.gerege p {
    color: white;
    width: 130px;
    background-color: #0078f0;
    margin: 10px 10px 10px 10px;
    padding: 5px 10px;
    border-radius: 15px;
}

.Financial {
    height: 176px;
    width: 210px;
    background-image: url(https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/38beb8d7daa42f18985c0128455eabb9.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    border-radius: 25px;
    color: white;
    align-content: center;
    padding: 10px 10px;
    color: white;
    align-content: center;
    padding: 10px 10px;
}

.Financial p {
    color: white;
    width: 130px;
    background-color: #0078f0;
    margin: 10px 10px 10px 10px;
    padding: 5px 10px;
    border-radius: 15px;
}

.big-box2 {
    height: auto;
    width: auto;
    display: flex;
    background-position: center;
    gap: 10px;
    position: relative;
}

.big-box2:hover {
    transform: translateY(-5px);
}

.gerege2 {
    height: 176px;
    width: 210px;
    background-image: url(https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/99a082a4bb4c8b3acfd8aca31abf48e2.png);
    background-position: center;
    background-size: cover;
    gap: 10px 10px;
    border-radius: 25px;
    color: white;
    align-content: center;
    padding: 10px 10px;
}

.gerege2 p {
    color: white;
    width: 130px;
    background-color: #0078f0;
    margin: 10px 10px 10px 10px;
    padding: 5px 10px;
    border-radius: 15px;
}

.Financial2 {
    height: 176px;
    width: 210px;
    background-image: url(https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/c6fdf3dc1ab0df88de77de5232c5f4c7.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    color: white;
    align-content: center;
    padding: 10px 10px;
}

.Financial2 p {
    color: white;
    width: 130px;
    background-color: #0078f0;
    margin: 10px 10px 10px 10px;
    padding: 5px 10px;
    border-radius: 15px;
}

.small-box2 {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    background-position: center;
    gap: 10px;
}

.small-box2:hover {
    transform: translateY(-5px);
}

.gerege3 {
    height: 176px;
    width: 210px;
    background-image: url(https://unread.today/files/969a1aed-77a4-45e9-b7b7-3ee2709aaf31/f7d08efb1dfdf11573a2dc7caeba3a26.png);
    background-position: center;
    background-size: cover;
    gap: 10px 10px;
    border-radius: 25px;
    color: white;
    align-content: center;
    padding: 10px 10px;
}

.gerege3 p {
    color: white;
    width: 130px;
    background-color: #0078f0;
    margin: 10px 10px 10px 10px;
    padding: 5px 10px;
    border-radius: 15px;
}

.Financial3 {
    height: 176px;
    width: 210px;
    background-image: url(https://unread.today/files/969a1aed-77a4-45e9-b7b7-3ee2709aaf31/d8ba5b16449f2b86a48e0cd0901602cb.png);
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    color: white;
    align-content: center;
    padding: 10px 10px;
}

.Financial3 p {
    color: white;
    width: 130px;
    background-color: #0078f0;
    margin: 10px 10px 10px 10px;
    padding: 5px 10px;
    border-radius: 15px;
}

@media screen and (min-width: 786px) {

    .article-1 {}
}



/*xxxxxxxxxxxxxxxxxx Footer xxxxxxxxxxxxxxxxxxxx  */

.footer-main {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    margin-top: 20px;
    padding-top: 30px;
}

.footer-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-top {}

.footer-bottom {
    display: flex;
    flex-direction: column;
    color: white;
}

.hamtran {
    width: 200px;
    background-color: rgb(71, 71, 91);
    color: white;
    border-radius: 25px;
    padding: 10px 30px 10px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hamtran p {}

.unread-icon img {
    width: 134px;
    height: 16px;
}

.app {
    display: flex;
    flex-direction: row;
    border-color: darkblue;
    justify-content: space-around;
    width: auto;
    height: 100px;
}

.google {
    background-image: url(https://unread.today/img/app_android.png);
    height: auto;
    width: auto;
}

.app-icon {
    background-image: url(https://unread.today/img/app_ios.png);
    height: auto;
    width: auto;
}